{
  key_type p256
  email kevin@vcsjones.com
  default_sni vcsjones.dev
}

(tls) {
  tls {
    curves x25519 secp256r1 secp384r1 secp521r1
    ciphers TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
  }
}

(tls-headers) {
  header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  header Expect-CT "max-age=86400, enforce"
}

www.vcsjones.dev, vcsjones.com, www.vcsjones.com {
    import tls
    import tls-headers

    redir https://vcsjones.dev{uri}
}

vcsjones.dev {
  import tls
  import tls-headers

  header * {
    Content-Security-Policy "default-src 'none'; style-src 'self'; img-src 'self'; frame-ancestors 'none'; form-action 'none'; block-all-mixed-content; base-uri 'none';"
    X-XSS-Protection "1; mode=block"
    Referrer-Policy no-referrer
    X-Frame-Options DENY
    X-Content-Type-Options nosniff
    Cross-Origin-Resource-Policy "same-origin"
    Cross-Origin-Embedder-Policy "require-corp"
    Cache-Control "public, max-age=3600"
  }

  header /css/* {
    -Content-Security-Policy
    -Cache-Control
    Vary Accept
    Content-Type text/css
    Cache-Control "public, immutable, max-age=315360000"
  }

  header /images/* {
    -Content-Security-Policy
    -Cache-Control
    Vary Accept
    Cache-Control "public, max-age=86400"
  }

  root * /var/wwwroot/vcsjones.com

  @brotli {
    header Accept-Encoding *br*
    file {
      try_files {path}.br
    }
  }

  @gzip {
    header Accept-Encoding *gzip*
    file {
      try_files {path}.gz
    }
  }

  @webp {
    header Accept *image/webp*
    path /images/*
    file {
      try_files {path}.webp
    }
  }

  handle @webp {
    header Content-Type image/webp
    rewrite * {http.matchers.file.relative}
  }

  handle @brotli {
    header Content-Encoding br
    rewrite * {http.matchers.file.relative}
  }

  handle @gzip {
    header Content-Encoding gzip
    rewrite * {http.matchers.file.relative}
  }

  file_server
}
